<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ambassador.ambassador">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f37bb68c5b927a94a1c10fd005732a15f578eb2d" />
    </application>

</manifest>
